# [MYSQL]
MYSQL_HOST=mariadb
MYSQL_USER=nextcloud
MYSQL_DATABASE=nextcloud
MYSQL_PASSWORD_FILE=mysql_path
MYSQL_ROOT_PASSWORD_FILE=mysql_root_path

#[Collabora]
COLLABORA_ADMIN_USER=agrupa-admin
COLLABORA_ADMIN_PASSWORD=pass

# [Redis]
REDIS_HOST=redis

# [WIREGUARD]
PUID=1000
PGID=1000
TZ=Europe/Lisbon
SERVERURL= serverurl
SERVERPORT=51820
PEERS=peer1, peer2, peer3
PEERDNS=auto
INTERNAL_SUBNET= intenal_ip
ALLOWEDIPS=allowed_ips