# [MYSQL]
MYSQL_HOST=mysqlhost
MYSQL_USER=nextcloou
MYSQL_DATABASE=nextcloud
MYSQL_PASSWORD_FILE=db_password
MYSQL_ROOT_PASSWORD_FILE=db_root_password

# [TAILSCALE]
TS_HOSTNAME=agrupa
TS_STATE_DIR=/var/lib/tailscale
TS_AUTH_ONCE=true
TS_USERSPACE=false

# [Redis]
REDIS_HOST=redis